<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegjistrimiServlet</display-name>
    <servlet-name>RegjistrimiServlet</servlet-name>
    <servlet-class>regjistrimi.RegjistrimiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegjistrimiServlet</servlet-name>
    <url-pattern>/RegjistrimiServlet</url-pattern>
  </servlet-mapping>
  <display-name>detyrekursi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UpdateProfiliServlet</display-name>
    <servlet-name>UpdateProfiliServlet</servlet-name>
    <servlet-class>regjistrimi.UpdateProfiliServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfiliServlet</servlet-name>
    <url-pattern>/UpdateProfiliServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListQuizzesServlet</display-name>
    <servlet-name>ListQuizzesServlet</servlet-name>
    <servlet-class>quizes.ListQuizzesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListQuizzesServlet</servlet-name>
    <url-pattern>/ListQuizzesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuizServlet</display-name>
    <servlet-name>ShowQuizServlet</servlet-name>
    <servlet-class>quizes.ShowQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuizServlet</servlet-name>
    <url-pattern>/ShowQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KrijoQuizServlet</display-name>
    <servlet-name>KrijoQuizServlet</servlet-name>
    <servlet-class>quizes.KrijoQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KrijoQuizServlet</servlet-name>
    <url-pattern>/KrijoQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuizServlet</display-name>
    <servlet-name>EditQuizServlet</servlet-name>
    <servlet-class>quizes.EditQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuizServlet</servlet-name>
    <url-pattern>/EditQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuizServlet</display-name>
    <servlet-name>UpdateQuizServlet</servlet-name>
    <servlet-class>quizes.UpdateQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuizServlet</servlet-name>
    <url-pattern>/UpdateQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseServlet</display-name>
    <servlet-name>DatabaseServlet</servlet-name>
    <servlet-class>quizes.DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/DatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseServlets</display-name>
    <servlet-name>DatabaseServlets</servlet-name>
    <servlet-class>quizes.DatabaseServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseServlets</servlet-name>
    <url-pattern>/DatabaseServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuizServlet</display-name>
    <servlet-name>DeleteQuizServlet</servlet-name>
    <servlet-class>quizes.DeleteQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuizServlet</servlet-name>
    <url-pattern>/DeleteQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCreateQuizServlet</display-name>
    <servlet-name>AjaxCreateQuizServlet</servlet-name>
    <servlet-class>quizes.AjaxCreateQuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCreateQuizServlet</servlet-name>
    <url-pattern>/AjaxCreateQuizServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>regjistrimi.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateQuizetServlet</display-name>
    <servlet-name>UpdateQuizetServlet</servlet-name>
    <servlet-class>quizes.UpdateQuizetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateQuizetServlet</servlet-name>
    <url-pattern>/UpdateQuizetServlet</url-pattern>
  </servlet-mapping>
</web-app>